.table {
  border-collapse: collapse;
}

.rowHeader {
  color: white;
  background-color: rgb(41, 40, 40);
}

th,
td {
  border: 2px solid black;
}

td {
  width: 150px;
  text-align: center;
  font-weight: 500;
}

tr:nth-child(even) {
  background-color: rgb(202, 200, 200);
}
